/* -------------------------------------------- GENERAL ----------------------------------------------- */

* {
  margin: 0;
}
body {
  width: 100vw;
}
:root {
  --font-color-primary: #252745;
  --font-color-secondary: #60627a;
  --green-color: #9ed08a;
  --red-color: #f04e44;
  --gray-color: #a8a9b7;
  --extralight-font: 100;
  --light-font: 200;
  --regular-font: 300;
  --medium-font: 400;
  --semibold-font: 500;
  --bold-font: 600;
  --extrabold-font: 700;
  /* --thin-font:100; */
}
html {
  font-size: 62.5%;
  line-height: 1.15;
  font-family: Gilroy, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.7;
  width: fit-content;
}
h1 {
  color: var(--font-color-primary);
  font-size: 6.2rem;
  font-weight: var(--extrabold-font);
  line-height: 1.15;
}
h2 {
  margin-bottom: 3rem;
  color: var(--font-color-primary);
  font-size: 4.2rem;
  font-weight: var(--bold-font);
  margin: 5rem 0;
  /* text-transform: capitalize; */
}
h3 {
  color: var(--font-color-primary);
  font-size: 2.4rem;
  font-weight: var(--semibold-font);
  margin: 2vh 0 1rem;
}
h4 {
  color: var(--font-color-primary);
  font-size: 2rem;
  font-weight: var(--medium-font);
  margin-bottom: 3rem;
}
h6 {
  color: var(--font-color-secondary);
  font-size: 1.6rem;
  font-weight: var(--regular-font);
  padding-bottom: 6rem;
  /*   margin:4vh 0; */
}

@media screen and (max-width: 375px) {
  * {
    text-align: center;
  }

  h1 {
    font-size: 5.5rem;
  }
  h2 {
    font-size: 3.5rem;
    margin: 15% 0;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.6rem;
    padding-bottom: 9%;
  }
}

/* --------------------------------------- NAVIGATION BAR ------------------------------------------- */

nav {
  /* padding: 0 25px; */
  width: 100%;
  height: fit-content; /*10rem*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* border-bottom: 1px solid orangered; */
}
.logo {
  float: left;
  /* padding: 40px 50px 40px 250px; */
}
ul {
  display: flex;
  padding: 0;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
li {
  list-style: none;
  color: var(--font-color-secondary);
  font-size: 1.6rem;
  font-weight: var(--medium-font);
  text-align: left;
  padding: 5vh 2vw;
}
li a {
  text-decoration: none;
  color: var(--font-color-secondary);
}
.language {
  border: none;
  margin-left: 2rem;
}
button {
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 6px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: var(--extrabold-font);
  border: none;
  width: fit-content;
  padding: 1rem 2rem;
  cursor: pointer;
  /* padding: 16px 33px; 
    margin: 10.5px; 
    line-height: 1.13; */
}
.secondary-btn {
  background-color: var(--green-color);
}
.primary-btn {
  background-color: var(--red-color);
}

li a:hover {
  color: var(--red-color);
}
.no-padding {
  padding: 3rem 1rem;
}

@media screen and (max-width: 375px) {
  nav {
    flex-direction: column;
    display: ;
    width: 100%;
  }
  nav ul {
    flex-direction: column;
    display: none;
  }
  nav img {
    float: left;
    max-width: 120px;
    align-self: center;
    padding: 2%;
  }
}

/* --------------------------------------- ABOUT CONTAINER ------------------------------------------- */

.about-container {
  background-image: url("../images/about.png");
  width: 100vw;
  height: 119vh;
  background-repeat: no-repeat;
  background-position-x: -26rem;
}
.about-container .subcontainer {
  padding: 25rem 12.5rem 0;
}
.about-container h1 {
  color: var(--font-color-primary);
  width: 55%;
  margin-bottom: 3rem;
  /* font-size: 6rem;
    font-weight: 700; 
    margin: 0 0 3rem 0; */
}
.about-container h6 {
  color: var(--font-color-secondary);
  width: 50%;
  padding-bottom: 8vh;
  font-weight: var(--medium-font);
  /* margin-bottom: 3rem; */
}
.deliver-button {
  margin: 30rem;
}

@media screen and (max-width: 375px) {
  .about-container {
    width: 100%;
    height: fit-content;
    background-position-x: -990px;
  }
  .about-container .subcontainer {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5%;
  }
  .about-container h1,
  .about-container h6 {
    width: 100%;
    text-align: center;
  }
  .deliver-button {
    margin: 0;
  }
}

/* --------------------------------------- CHOOSE GOKWAZ CONTAINER ------------------------------------------- */

.choose-container {
  padding: 7vh 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: stretch;
}
.choose__right {
  height: 70%;
  width: 40vw;
  float: right;
  padding-top: 6rem;
}
.choose__right h3 {
  font-weight: var(--extrabold-font);
}
.choose__left {
  height: 70%;
  width: 40vw;
  float: left;
}
.choose__left figcaption {
  text-transform: capitalize;
  color: var(--font-color-primary);
  font-size: 4.2rem;
  font-weight: var(--extrabold-font);
  margin: 5rem 0;
  width: 50rem;
}
.choose__left img {
  border-radius: 10px;
}

@media screen and (max-width: 375px) {
  .choose-container {
    flex-direction: column;
    flex: 0 0 100%;
    width: 100%;
    padding: 0;
  }
  .choose__right {
    height: 70%;
    width: fit-content;
    float: right;
    padding: 5%;
  }
  .choose__right h3 {
    font-weight: var(--extrabold-font);
  }
  .choose__left {
    height: 70%;
    width: 100%;
    float: none;
  }
  .choose__left figcaption {
    text-transform: capitalize;
    color: var(--font-color-primary);
    font-size: 4.2rem;
    font-weight: var(--extrabold-font);
    margin: 8% 0;
    width: 100%;
  }
  .choose__left img {
    border-radius: 10px;
    width: 80%;
    padding: 0 10%;
  }
}

/* --------------------------------------- PARTNERS CONTAINER ------------------------------------------- */

.partner-container {
  background-color: #f9f9f9;
  /* width: 100%; */
  height: fit-content;
  text-align: center;
  padding: 3vh 5vw 10vh;
  width: 90vw;
}
.partner-container .text {
  width: 52%;
  display: inline-block;
}
.grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 25fr);
  /* grid-column-gap: 2vw;
    grid-gap: 5px;
    display: inline-block; */
}
.grid img {
  width: 100%;
  object-fit: cover;
}
/*.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 30fr);
  } */

@media screen and (max-width: 375px) {
  .partner-container {
    width: 100%;
    padding: 0;
  }
  .partner-container .text {
    width: 90%;
  }
  .grid {
    display: grid;
    grid-template-columns: none;
  }
  .partner-container .text:nth-child(1) {
    padding-bottom: 4rem;
  }
}

/* --------------------------------------- DELIVERY PROCESS CONTAINER ------------------------------------------- */

.process-container {
  background-color: white;
  height: fit-content;
  text-align: center;
}
.process-container .text {
  width: 45%;
  display: inline-block;
  height: 27vh;
}
.process-container .flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}
.card {
  width: 17vw;
  height: 22vh;
  border-radius: 12px;
  margin: 7rem 0 5rem 5rem;
  padding: 0rem 6rem 13rem 4rem;
  box-shadow: 0 10px 100px 0 rgba(97, 100, 148, 0.07);
  background-color: white;
  display: inline-block;
}
.card h1 {
  color: rgba(158, 208, 138, 0.15);
  margin-left: 1rem;
  position: absolute;
  font-weight: 900;
}
.card h4 {
  font-weight: 800;
  padding-top: 12vh;
  display: flex;
}
.card h6 {
  text-align: left;
}
.flex .primary-btn {
  margin: 5vh;
  text-transform: capitalize;
}

@media screen and (max-width: 375px) {
  .process-container {
    background-color: white;
    height: fit-content;
    text-align: center;
    width: 100%;
  }
  .process-container .text {
    width: 80%;
    height: fit-content;
  }
  .process-container .flex {
    flex-direction: column;
    width: 100%;
    align-content: center;
  }
  .card {
    width: 50%;
    height: fit-content;
    max-height: 19rem;
    border-radius: 12px;
    margin: 7% 0 0 0;
    padding: 0rem 8% 32% 7%;
    align-self: center;
  }
  .card h1 {
    color: rgba(158, 208, 138, 0.15);
    margin-left: 1rem;
    position: absolute;
    font-weight: 900;
  }
  .card h4 {
    font-weight: 800;
    padding-top: 12vh;
    display: flex;
  }
  .card h6 {
    text-align: left;
  }
  .flex .primary-btn {
    margin: 5vh;
    text-transform: capitalize;
    width: 23rem;
  }
}

/* --------------------------------------- PRICES AND COVERAGE CONTAINER ------------------------------------------- */

.prices-container {
  background-color: #f9f9f9;
  padding: 15vh 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: stretch;
  position: relative;
}
.prices__right {
  height: 70%;
  width: 40vw;
  float: right;
  padding-top: 5rem;
}
.prices__left {
  height: 70%;
  width: 40vw;
  float: left;
}
.prices__left figcaption {
  text-transform: capitalize;
  color: var(--font-color-primary);
  font-size: 3.9rem;
  font-weight: var(--extrabold-font);
  margin: 5rem 0;
  width: 50rem;
}
.prices__right img {
  float: left;
  padding: 0.7rem 2rem 0 0;
}
.prices__right h3 {
  font-weight: var(--extrabold-font);
}
/* .prices-container .delvery-man {
    display: inline;
    height: 30px;
    /* float: right; 
  } */
.prices__right .prices__textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4rem;
  width: 60%;
}
.prices__textbox h6 {
  padding-bottom: 1.8rem;
  font-weight: var(--medium-font);
  font-size: 2rem;
}
.prices__textbox h4 {
  font-weight: var(--extrabold-font);
  font-size: 3rem;
}
.prices__textbox span {
  font-weight: var(--medium-font);
  font-size: 2rem;
}
.delivery-man {
  width: 33rem;
  position: absolute;
  right: 10rem;
  bottom: 0rem;
  z-index: 100;
  height: 39rem;
  display: none;
}

@media screen and (max-width: 375px) {
  .prices-container {
    background-color: #f9f9f9;
    padding: 9vh 0 0 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: stretch;
    position: relative;
    height: fit-content;
  }
  .prices__right {
    height: 80rem;
    width: 100%;
    float: right;
    padding-top: 5rem;
  }
  .prices__left {
    height: 70%;
    width: 100%;
    float: left;
  }
  .prices__left figcaption {
    margin: 0;
    width: 100%;
  }
  .prices__right img {
    float: left;
    padding: 0px 0 0 12%;
  }
  .prices__right h3 {
    font-weight: var(--extrabold-font);
    padding-bottom: 10%;
  }

  .prices__right .prices__textbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 4rem;
    width: 60%;
  }
  .prices__textbox h6 {
    padding-bottom: 0.5%;
    text-align: left;
  }
  .prices__textbox h4 {
    font-weight: var(--extrabold-font);
    font-size: 3rem;
  }
  .prices__textbox span {
    font-weight: var(--medium-font);
    font-size: 2rem;
  }
  .delivery-man {
    width: 23rem;
    position: relative;
    right: -20%;
    bottom: 0rem;
    z-index: 100;
    height: 29rem;
  }
  figure img {
    width: 50%;
  }
}

/* --------------------------------------- REVIEWS CONTAINER ------------------------------------------- */

.reviews-container {
  display: flex;
  grid-template-rows: 0.75fr 1fr 0.25fr;
  width: 90vw;
  flex-direction: column;
  height: fit-content;
  /*   justify-content:center;
    align-items:center; */
}
.reviews-card {
  width: 26vw;
  padding: 4rem 4rem;
  height: 27vh;
}
.upper-row {
  /* text-align: center; */
  display: flex;
  /* grid-template-columns: 1fr 2fr; */
  margin: 5rem 5.5rem 0;
  grid-gap: 20rem;
  width: 100%;
}
.upper-row .h6,
.upper-row .h2 {
  align-self: center;
  width: 100%;
  max-width: 45rem;
}
.lower-row {
  display: flex;
  /* grid-template-columns: repeat(3, 30%);
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    grid-column-gap: 1.5rem; */
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  float: left;
}
.lower-row .h6 {
  padding-bottom: 1.5rem;
}
.lower-row .avatar {
  float: left;
  /* margin-left: -21px;
    margin-top: -5rem; */
}
.lower-row .h4 {
  padding-top: 1rem;
  font-weight: var(--regular-font);
  margin: 0rem;
}
.lower-row .p {
  font-size: 1.2rem;
  font-weight: var(--extrabold-font);
  color: var(--green-color);
}
.navigation-buttons {
  margin-left: 5.5rem;
  width: 100%;
  height: fit-content;
}
span.navigation-red-button {
  align-content: center;
  justify-content: center;
  max-width: 4rem;
  max-height: 4rem;
  /* flex-grow: 0; */
  margin: 0 0 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 6px;
  background-color: #f04e44;
  display: inline-block;
  cursor: pointer;
}
span.navigation-white-button {
  max-width: 4rem;
  max-height: 4rem;
  margin: 0 1rem 1rem 0;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 6px;
  box-shadow: 0 4px 20px 0 rgba(97, 100, 148, 0.07);
  background-color: #ffffff;
  display: inline-block;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .reviews-container {
    display: flex;
    grid-template-rows: 0.75fr 1fr 0.25fr;
    width: 100%;
    flex-direction: column;
    height: fit-content;
  }
  .reviews-card {
    width: 80vw;
    padding: 3rem 2rem;
    height: 33vh;
  }
  .reviews-card img {
    float: left;
  }
  .upper-row {
    margin: 3rem 0 0 0;
    grid-gap: 1rem;
    width: 100%;
    flex-direction: column;
  }
  .upper-row .h6,
  .upper-row .h2 {
    align-self: center;
    width: 100%;
    max-width: 45rem;
  }
  .lower-row {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
  }
  .lower-row .h6 {
    padding-left: 15%;
  }
  .lower-row .avatar {
    float: left;
  }
  .lower-row .h4 {
    padding-top: 1rem;
    font-weight: var(--regular-font);
    margin: 0rem;
  }
  .lower-row .p {
    font-size: 1.2rem;
    font-weight: var(--extrabold-font);
    color: var(--green-color);
  }
  .navigation-buttons {
    margin-top: 5%;

    margin-left: 0;
  }
  span.navigation-red-button {
    align-content: center;
    justify-content: center;
    max-width: 4rem;
    max-height: 4rem;
    margin: 0 0 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 6px;
    background-color: #f04e44;
    display: inline-block;
    cursor: pointer;
  }
  span.navigation-white-button {
    max-width: 4rem;
    max-height: 4rem;
    margin: 0 1rem 1rem 0;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 6px;
    box-shadow: 0 4px 20px 0 rgba(97, 100, 148, 0.07);
    background-color: #ffffff;
    display: inline-block;
    cursor: pointer;
  }
}

/* --------------------------------------- CONTACT CONTAINER ------------------------------------------- */

.contact-container {
  background-image: url("../images/contact.png");
  height: fit-content;
  object-fit: cover;
  background-position-x: -26vw;
  background-repeat: no-repeat;
}
.contact-container .text {
  padding: 7vh 8vw;
  width: 34%;
  height: 70%;
}
.contact-container input,
textarea {
  overflow: visible;
  width: 95%;
  margin: 1vh 0;
  border: 0;
  height: 4.5rem;
  border-radius: 4px;
  color: rgba(96, 98, 122, 0.4);
  padding-left: 2rem;
}
::placeholder,
textarea {
  font-size: 1.6rem;
  font-weight: var(--regular-font);
  color: rgba(96, 98, 122, 0.4);
}
.contact-container textarea {
  height: 13rem;
  padding: 2rem;
  width: 91%;
  margin-bottom: 3rem;
}
.contact-container .primary-btn {
  color: white;
  width: fit-content;
  text-align: center;
  font-weight: var(--bold-font);
  padding: 0.5rem 4rem;
  font-size: 1.6rem;
  border-radius: 6px;
  cursor: pointer;
  /* margin: 10.5px; 
    width: fit-content; */
}
.contact-container h4 {
  color: var(--green-color);
  margin-bottom: 5rem;
  font-weight: var(--extrabold-font);
}
.contact-container h6 {
  padding: 1rem 0;
}
.contact-container h2 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 375px) {
  .contact-container {
    height: fit-content;
    object-fit: cover;
    background-position-x: -330vw;
    background-repeat: no-repeat;
  }
  .contact-container .text {
    padding: 5% 0;
    width: 100%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  ::placeholder,
  textarea {
    font-size: 1.6rem;
    font-weight: var(--regular-font);
    color: rgba(96, 98, 122, 0.4);
  }
  .contact-container textarea {
    height: 13rem;
    padding: 2rem;
    width: 91%;
    margin-bottom: 3rem;
  }
  .contact-container .primary-btn {
    color: white;
    width: fit-content;
    text-align: center;
    font-weight: var(--bold-font);
    padding: 0.5rem 4rem;
    font-size: 1.6rem;
    border-radius: 6px;
    cursor: pointer;
  }
  .contact-container h4 {
    color: var(--green-color);
    margin-bottom: 5rem;
    font-weight: var(--extrabold-font);
  }
  .contact-container form {
    width: 70%;
    padding: 6% 8% 6% 6%;
    background-color: rgba(37, 39, 69, 0.7);
    margin-left: 8%;
  }
  .contact-container h6 {
    padding: 1rem 0;
  }
  .contact-container h2 {
    margin-bottom: 1rem;
  }
}

/* --------------------------------------- CONTACT CONTAINER ------------------------------------------- */

footer {
  display: grid;
  background-color: #161728;
  height: 35vh;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(2, auto);
  padding: 5% 2% 0 2%;
}
footer .contact {
  display: grid;
  grid-template-columns: 1fr 1.25fr 0.5fr 0.5fr;
  border-bottom: 1px solid #a8a9b7;
  padding-bottom: 4%;
}

footer h4 {
  /* font-weight: 100; */
  color: white;
}
footer h6 {
  color: #a8a9b7;
  width: 60%;
  padding: 0;
}
footer .logo {
  float: left;
  width: 100%;
  max-width: 16rem;
  padding-right: 70%;
  /* padding: 0 30px 0 0; */
}
footer .social {
  display: grid;
  grid-template-columns: 0.25fr 4fr 0.25fr 0.25fr 0.25fr 0.25fr;
  /* border-bottom: 1px solid #a8a9b7; */
  /* padding-top: 2%; */
  padding-bottom: 0;
  align-items: flex-start;
}
.social__right {
  width: 3rem;
  /* height: 3rem; */
}

@media screen and (max-width: 375px) {
  footer {
    height: fit-content;
  }
  footer .contact {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-row-gap: 3%;
  }

  footer h4 {
    color: white;
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 3%;
  }
  footer h6 {
    width: 100%;
    text-align: left;
    font-size: 1rem;
    align-self: center;
  }
  footer .logo {
    max-width: 10rem;
  }
  footer .social {
    display: grid;
    grid-template-columns: 0.25fr 4fr 0.25fr 0.25fr 0.25fr 0.25fr;
    padding-bottom: 0;
    align-items: flex-start;
  }
  .social__right {
    padding: 10%;
  }
}
